In [11]:
import pandas as pd
import numpy as np
import os
import time
from collections import Counter
import matplotlib.pyplot as plt

In [12]:
questions = pd.read_csv(os.path.join('EdNet-Contents', 'contents', 'questions.csv'))
question_set=questions["question_id"]
len(question_set)

13169

In [13]:
questions=questions[["question_id","correct_answer"]]
questions

      question_id correct_answer
0              q1              b
1              q2              a
2              q3              b
3              q4              b
4              q5              c
...           ...            ...
13164      q18139              b
13165      q18140              a
13166      q18141              a
13167      q18142              a
13168      q18143              c

[13169 rows x 2 columns]

In [14]:
kt1_files = os.listdir('KT1')
kt1_paths = [os.path.join('KT1', file) for file in kt1_files]
# kt1_paths=kt1_paths[:100000]
# kt1_files=kt1_files[:100000]

In [15]:
li=[]
question_group=[]
for i, path in enumerate(kt1_paths):
    if(i%20000==0):
        print(i)
    user_df = pd.read_csv(path)
    qs=set(user_df["question_id"])
    question_group.append(len(qs))
#     if(len(qs)>200):
#         user_df.to_csv(os.path.join('KT1_selected',kt1_files[i]),index=False)

0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
260000
280000
300000
320000
340000
360000
380000
400000
420000
440000
460000
480000
500000
520000
540000
560000
580000
600000
620000
640000
660000
680000
700000
720000
740000
760000
780000

In [22]:
sum([1 if x>190 and x<210 else 0 for x in question_group])

4102