In [9]:
import pandas as pd
import numpy as np
import os
import time
from collections import Counter
import random

In [2]:
questions = pd.read_csv(os.path.join('EdNet-Contents', 'contents', 'questions.csv'))
question_set=questions["question_id"]
len(question_set)

13169

In [3]:
questions=questions[["question_id","correct_answer"]]
questions

      question_id correct_answer
0              q1              b
1              q2              a
2              q3              b
3              q4              b
4              q5              c
...           ...            ...
13164      q18139              b
13165      q18140              a
13166      q18141              a
13167      q18142              a
13168      q18143              c

[13169 rows x 2 columns]

In [6]:
kt1_files = os.listdir('KT1_joined')
kt1_paths = [os.path.join('KT1_joined', file) for file in kt1_files]

In [55]:
# a=[]
# for i, path in enumerate(kt1_paths):
#     if(i%100000==0):
#         print(i)
#     user_df=pd.read_csv(path)
#     l=len(set(user_df["question_id"]))
#     if(l==100):
#         user_df.to_csv("KT1_selected")
#     a.append(l)

In [56]:
indices = [i for i, x in enumerate(a) if x ==100]
for i in indices:
    user_df=pd.read_csv(kt1_paths[i])
    l=len(set(user_df["question_id"]))
    if(l!=100):
        print("haha")
    if(random.uniform(0,1)<0.2):
        user_df.to_csv(os.path.join('KT1_small',kt1_files[i]),index=False)

In [10]:
li = []
for i, path in enumerate(kt1_paths):
#     if(i%5000==0):
#         print(i)
    user_df = pd.read_csv(path)
    username = kt1_files[i].replace(".csv", "")
    user_df['username'] = username
    li.append(user_df)
# Concatenanting user dfs
kt1 = pd.concat(li, axis = 0 , ignore_index = True)
kt1.to_csv('KT1_joined_large/KT1_part{}.csv'.format(0))

In [66]:
# for i, path in enumerate(kt1_paths):
#     user_df=pd.read_csv(kt1_paths[i])
#     user_df2=user_df.join(questions.set_index("question_id"),on="question_id")
#     score=[1 if b else 0 for b in list(user_df2["user_answer"]==user_df2["correct_answer"])]
#     user_df2["score"]=score
#     user_df2.to_csv(os.path.join('KT1_joined',kt1_files[i]),index=False)

In [17]:
student_set=[kt1_files[i].replace(".csv", "") for i, path in enumerate(kt1_paths)]
SS=len(student_set)
user_df

,Unnamed: 0,timestamp,solving_id,question_id,user_answer,elapsed_time,correct_answer,score,username
0,0,1515924227146,1,q8098,b,12000,b,1,u100562
1,1,1515924253425,2,q8074,b,20000,c,0,u100562
2,2,1515924279087,3,q176,d,23000,d,1,u100562
3,3,1515924297559,4,q1279,b,16000,c,0,u100562
4,4,1515924375098,5,q2067,c,24666,b,0,u100562
...,...,...,...,...,...,...,...,...,...
26483,26483,1531558598616,72,q4297,c,30000,c,1,u99799
26484,26484,1531558774364,73,q6345,a,8000,a,1,u99799
26485,26485,1531558871916,74,q5067,b,21000,b,1,u99799
26486,26486,1531559143446,75,q10159,b,24000,d,0,u99799
26487,26487,1531559266657,76,q4132,a,26000,a,1,u99799

In [14]:
user_df=pd.read_csv('KT1_joined_large/KT1_part0.csv')
question_set=set(user_df["question_id"])
len(question_set)

5389

In [18]:
#split questions into train and test sets
def split_questions(path):
    user_df = pd.read_csv(path)
    qq=list(set(user_df["question_id"]))
    n=int(len(qq)/2)
    return qq[0:n],qq[n:len(qq)]

In [23]:
difficulty_ranking={}
start = time.time()
ranking=[]
for q in question_set:
    user_df2=user_df[user_df["question_id"]==q]
    n=len(user_df2)
    #First based on scores
    score=user_df2["score"].sum()/n
    #Then tie breaks on time taken
    timetaken=user_df2["elapsed_time"].sum()/n
    ranking.append((q,score,timetaken))
r=sorted(ranking,key=lambda x:(x[1],-x[2]))
difficulty_ranking=[x[0] for x in r]
end = time.time()
print("Reference ranking inferred in "+str(end - start)+' s')

Reference ranking inferred in 13.347683668136597 s

In [50]:
len(difficulty_ranking)

5389

In [42]:
reference_rankings={}
data={}
for i, path in enumerate(kt1_paths):
    username = kt1_files[i].replace(".csv", "")
    reference_rankings[username]=[]
    data[username]=[]
    train,test=split_questions(path)
    ranking_train=[q for q in difficulty_ranking if q in train]
    ranking_test=[q for q in difficulty_ranking if q in test]
    reference_rankings[username].append(ranking_train)
    reference_rankings[username].append(ranking_test)
    data[username].append(train)
    data[username].append(test)

In [49]:
for i, path in enumerate(kt1_paths):
    username = kt1_files[i].replace(".csv", "")
    if(set(reference_rankings[username][0])!=set(data[username][0])):
        print("haha")
    if(set(reference_rankings[username][1])!=set(data[username][1])):
        print("hehe")

In [37]:
#Check whether one question is more difficult than the other
def rank(q1,q2,ranking):
    if(q1 not in ranking or q2 not in ranking):
        return False
    #return true if q1 is more difficult than q2
    return ranking.index(q1)<ranking.index(q2)

#win score over question pairs q1,q2 given a ranking 
def gamma(q1,q2,ranking):
    if(q1 not in ranking or q2 not in ranking):
        return 0
    return 1 if rank(q1,q2,ranking) else -1

#all question pairs in L such that qj>qk
def Zk(L,ranking,k):
    answer=[]
    for q in L:
        if(rank(q,k,ranking)):
            answer.append((q,k))
    return answer

#Indicator function
def IA(ranking1,ranking2,q1,q2):
    return 1 if (rank(q1,q2,ranking1) and rank(q1,q2,ranking2)) else 0

#normalized agreement score between two rankings
def Ak(L,ranking1,ranking2,k):
    Z=Zk(L,ranking2,k)
    if(len(Z)==0):
        return 0
    answer=0
    for (q1,q2) in Z:
        answer+=IA(ranking1,ranking2,q1,q2)
    return answer/(L.index(k))
#     return answer/len(Z)

# AP score of ranking2 over L given reference ranking ranking1
def SAP(L,ranking1,ranking2):
    answer=0
    n=len(L)
    for i in range(1,n):
        answer+=Ak(L,ranking1,ranking2,L[i])
    return answer/(n-1)

# def SAP(L,ranking1,ranking2):
#     l=len(L)
#     answer=0
#     for i in range(1,l):
#         s=0
#         for j in range(0,i):
#             for k in range(j,i):
#                 if(k!=j):
#                     s+=IA(ranking1,ranking2,L[j],L[k])
#         s=s/i
#         answer=answer+s
#     return answer/(l-1)

In [53]:
def EduRank(username,ranking,data):
    s=student_set.index(username)
    ranking_train=ranking[username][0]
    ranking_test=ranking[username][1]
    questions_test=data[username][1]
    t=len(train)
    M=[0 for i in range(SS)]
    for i in range(SS):
        if(i!=s):
            M[i]=SAP(ranking_train,ranking_train,ranking[student_set[i]][0])
    r=[[] for i in range(t)]
    for i in range(t):
        for j in range(t):
            if(i!=j):
                rv=0
                for k in range(SS):
                    if(k!=s):
                        rv+=M[k]*gamma(questions_test[i],questions_test[j],ranking[student_set[k]][0])
                rv=np.sign(rv)     
                r[i].append(rv)
    dict=[]
    for i in range(t):
        dict.append((questions_test[i],sum(r[i])))
    dict=sorted(dict, key=lambda x:-x[1])
    result=[x[0] for x in dict]
    sap=SAP(ranking_test,ranking_test,result)
    return sap

In [28]:
def EduRank_coldstart(s):
    start = time.time()
    train=data[sset[s]][0]
    test=data[sset[s]][1]
    t=len(train)
    A=[[Ak(train,reference_rankings[sset[s]],reference_rankings[sset[i]],train[k])
        for k in range(t)]for i in range(SS) if i!=s]
    M=[np.mean(A[i]) for i in range(SS-1)]
    r=[[] for i in range(t)]
    for i in range(t):
        for j in range(t):
            rv=0
            s12=[s for s in sset if qset[i] in difficulty_rankings[s] and qset[j] in difficulty_rankings[s]]
            priori=priors_mean[qset[i]]
            priorj=priors_mean[qset[j]]
            alpha=len(s12)/SS
            for k in range(SS):
                if(k!=s):
                    rv+=M[k-1]*gamma(test[i],test[j],difficulty_rankings[sset[k]])
            rv=alpha*np.sign(rv)
            rv+=(1-alpha)*np.sign(priori-priorj)        
            r[i].append(rv)
    dict=[]
    for i in range(len(test)-1):
        dict.append((test[i],sum(r[i])))
    dict=sorted(dict, key=lambda x:-x[1])
    result=[x[0] for x in dict]
    result=SAP(test,difficulty_rankings[username],result)
    end = time.time()
    return result

In [54]:
sap=0
for s in student_set:
    e=EduRank(s,reference_rankings,data)
    sap+=e
sap/=SS
print(sap)

0.4612983301715526
0.4843405655257487
0.5470676277259459
0.4335145434171723
0.4480675871311248
0.49863040172468864
0.5280651989266669
0.6022547878407739
0.5391426412811369
0.48839850766859644
0.5267597090818856
0.6000035522657254
0.5015560944206998
0.5477786184605243
0.5132223469051533
0.5103452493178888
0.5421102603583048
0.3714217553932405
0.5406132260813387
0.5020746034421433
0.4702136456278846
0.5190893059804038
0.45338596511259754
0.41283399976245905
0.42848015173685994
0.5539509301702118
0.5787718711580638
0.5438840630908235
0.5027028417034342
0.4871138549125549
0.5446801513759968
0.42959942567776654
0.3876414451219929
0.5431142137185597
0.47660395106930886
0.5533911138431148
0.44231936802578287
0.5186168797982391
0.5180326544078904
0.4677901525531046
0.48658818961674616
0.49485037751433913
0.5139329889986681
0.49448450149549195
0.5270371035602742
0.5128860055186504
0.5199305344907296
0.4935562044337296
0.6077231172757934
0.4855285527169504
0.5817802113849885
0.4974987313309605
0.4399058630412618
0.5706599451503124
0.44969711834608295
0.4369618891820696
0.5438827447869994
0.4469324359700766
0.5399679474742478
0.5437910142179929
0.4759583743393428
0.5777079896659328
0.5000011942517383
0.5444652575413484
0.5687851460634922
0.564771372990927
0.5298602797095312
0.5209392173746267
0.45879766019669527
0.38030445296322146
0.5273740892807726
0.4986009691996605
0.5540130782976717
0.479314606301898
0.5806144737598601
0.46639889285255975
0.4758680832305234
0.537677160343421
0.5778742483095417
0.5232799871604763
0.4815425688238654
0.5380890117083377
0.4722753310173893
0.525277542923117
0.663260925251709
0.5647289003467603
0.4482550289485704
0.6447818537094693
0.4841336346214434
0.5072663022867484
0.5321770424209472
0.5460257099827054
0.5514150072301747
0.5144007394886306
0.5122396647682913
0.5376843463241671
0.48107253688977164
0.43548353208187957
0.5184203851546386
0.4599533438189072
0.6027878066066836
0.4073367828116527
0.47435847284168875
0.4328461168878324
0.4639602191055741
0.542740318987541
0.5560852356449417
0.4892447585099616
0.516743990557869
0.5635089324874545
0.526258903636954
0.48599868583129463
0.4913873710796392
0.47336749348343443
0.5460441016678496
0.4607740536445433
0.5117912664719211
0.45922534834114404
0.4852907819679622
0.49577115193302124
0.452166295530243
0.5199084440506142
0.5089280246875294
0.5110656763446965
0.5604129127013725
0.4874404534079194
0.595245161466222
0.5217973316548813
0.45385916868260173
0.46872592756954007
0.5011716945155447
0.45252040387907794
0.5249066263813912
0.44787406090973686
0.503432764880211
0.505710224237109
0.5283633783650011
0.5040872183910867
0.4572217232302327
0.594976042938967
0.49323169301006115
0.5264483043912345
0.4713481248220498
0.45174892125157523
0.5403965610068358
0.5645671720793326
0.511170706809114
0.4546837962054613
0.47578613977711487
0.502080225542393
0.5621523522212627
0.5575234971571408
0.4616946709309686
0.5072294385720241
0.5078345452806408
0.47315217727285136
0.4719747810519584
0.5452657477860802
0.6381996537330137
0.5407490232728792
0.5091080013790525
0.5288562628215532
0.4757369773190037
0.5428534369478669
0.5222685594536748
0.5105576810104562
0.4348637403927509
0.5261546834839029
0.47602825410898386
0.4821049459507577
0.5182272713419809
0.5432837600714997
0.5504605336081116
0.5345060508233357
0.5164366483683349
0.5848935715210858
0.4638190848727139
0.5630423824166274
0.46115590008663093
0.51631907597901
0.45584549213909925
0.5522262261186762
0.5040586116553089
0.5213450008990657
0.4895991342356714
0.5283241874367914
0.6194889314042324
0.5338895755141464
0.5046467002083015
0.4704695142422283
0.5139104401304533
0.4917093052842089
0.5424747367794956
0.563787892212065
0.520435366925853
0.6005131429855799
0.5295301425717567
0.520245144811852
0.4813753066141214
0.5566939997840139
0.510330764694517
0.4253149095897393
0.6726706144162907
0.6217339536117179
0.5310990684976085
0.5037212880751614
0.45249082543186264
0.5155891789519341
0.4765107634362752
0.5402513982455841
0.5094816379605354
0.4964865236024255
0.5575957935277778
0.5177201736774398
0.5043177974769742
0.5022239497904618
0.5131211611172664
0.5206732639030847
0.5438799695153055
0.47920558985261297
0.5293823570392977
0.43370562922958394
0.5044338687796289
0.4628732291595821
0.517810587402988
0.5641461858497281
0.5045345058544585
0.48935902124260433
0.5175445752837278
0.5676278819798247
0.5194889388161967
0.4365903013100947
0.4444071979678785
0.508358711296577
0.44895528145109564
0.389736580103556
0.5337028392414451
0.5135000686077328
0.4577260048907232
0.5096639662485899

In [77]:
data2={}
for i, path in enumerate(kt1_paths):
    username = kt1_files[i].replace(".csv", "")
    data2[username]=[]
    train,test=split_questions(path)
    l=len(train)
    data2[username].append(train[0:int(0.1*l)])
    data2[username].append(test[0:int(0.1*l)])

In [82]:
sap=0
for s in student_set:
    sap+=EduRank(s,data2)
sap/=SS
print(sap)

0.4980822873082286

In [114]:
a=[1,2,3]
b=[3,4,5]
a+b

[1, 2, 3, 3, 4, 5]