In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import random

df=pd.read_csv(r'D:\Y4project\EduRank\algebra_2005_2006_master.txt',sep='\t',header=None,engine='python')
df.shape[0]

3968

In [13]:
df.columns = df.iloc[0]
df2=df.drop(df.index[0])
question_set=set(df2["Problem Name"])
student_set=set(df2["Anon Student Id"])
df2["Correct First Attempt"]=pd.to_numeric(df2["Correct First Attempt"])
df2["Incorrects"]=pd.to_numeric(df2["Incorrects"])
df2["Step Duration (sec)"]=pd.to_numeric(df2["Step Duration (sec)"])
difficulty_rankings={}
df2

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
1,390,0BrbPbwCMz,"Unit ES_04, Section ES_04-15",LIT59,1,b+r*(x+y) = v-s,2005-10-05 12:45:31.0,2005-10-05 12:45:46.0,2005-10-05 12:45:46.0,2005-10-05 12:45:46.0,15.0,15,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",77
2,717,0BrbPbwCMz,"Unit CTA1_10, Section CTA1_10-5",DIST05_SP,1,R7C1,2005-10-21 12:50:22.0,2005-10-21 12:50:28.0,2005-10-21 12:50:28.0,2005-10-21 12:50:28.0,6.0,6,NaN,1,0,0,1,"Using small numbers~~Find X, positive slope~~U...",36~~33~~33
3,803,0BrbPbwCMz,"Unit ES_07, Section ES_07-2",LIT50A,1,m*(k-n) = g*s,2005-10-28 12:21:02.0,2005-10-28 12:21:17.0,2005-10-28 12:21:17.0,2005-10-28 12:21:17.0,15.0,15,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",88
4,881,19UbXBlPPK,"Unit CTA1_01, Section CTA1_01-2",BH1T17,1,R5C2,2005-09-09 12:50:28.0,2005-09-09 12:50:46.0,2005-09-09 12:50:46.0,2005-09-09 12:50:46.0,18.0,18,NaN,1,0,0,1,"Find Y, Simple~~Using simple numbers~~Using la...",12~~17~~2
5,1190,2oNLCndtam,"Unit CTA1_12, Section CTA1_12-4",SYSFB23,1,R3C1,2005-09-21 12:40:51.0,2005-09-21 12:40:53.0,2005-09-21 12:40:53.0,2005-09-21 12:40:53.0,2.0,2,NaN,1,0,0,1,Define Variable,10
6,1547,2oNLCndtam,"Unit ES_05, Section ES_05-8",EG61,10,-9.91y-6.3 = -2.13,2005-09-30 12:18:00.0,2005-09-30 12:18:05.0,2005-09-30 12:18:05.0,2005-09-30 12:18:05.0,5.0,5,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",65~~21
7,2111,2oNLCndtam,"Unit CTA1_14, Section CTA1_14-4",2PTFB18,1,25X = 0,2005-10-28 12:32:04.0,2005-10-28 12:32:08.0,2005-10-28 12:32:08.0,2005-10-28 12:32:08.0,4.0,4,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,80~~156
8,2368,2oNLCndtam,"Unit LINEAR-INEQUALITY-GRAPHING, Section LINEA...",X-3YGE20,1,GraphChoice1,2005-11-09 12:23:07.0,2005-11-09 12:23:16.0,2005-11-09 12:23:16.0,2005-11-09 12:23:16.0,9.0,9,NaN,1,0,0,1,NaN,NaN
9,2697,2oNLCndtam,"Unit CTA1_15, Section CTA1_15-3",SYSFB10,1,60X = 3500,2005-11-18 12:37:15.0,2005-11-18 12:37:19.0,2005-11-18 12:37:19.0,2005-11-18 12:37:19.0,4.0,4,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,100~~206
10,2982,2oNLCndtam,"Unit QUAD-ADD-AREA-ALG1, Section QUAD-ADD-AREA...",NEWSQUARE8TRE,1,R5C1,2005-12-09 13:17:14.0,2005-12-09 13:17:18.0,2005-12-09 13:17:18.0,2005-12-09 13:17:18.0,4.0,4,NaN,1,0,0,1,Entering a given~~Entering a given linear value,211~~11
11,3256,2oNLCndtam,"Unit QUADRATICS-FACTORING_ES, Section QUADRATI...",EG-FACTOR25,1,c-factor-2,2006-01-04 12:16:06.0,2006-01-04 12:16:07.0,2006-01-04 12:16:11.0,2006-01-04 12:20:02.0,11.0,NaN,11,0,2,0,3,NaN,NaN
12,3742,2oNLCndtam,"Unit QUADRATICS-SOLVING_ES, Section QUADRATICS...",EG-S-FACTOR10,1,(9+sqrt(9^2-56))/2 = x,2006-01-25 12:50:48.0,2006-01-25 12:50:52.0,2006-01-25 12:50:52.0,2006-01-25 12:50:52.0,4.0,4,NaN,1,0,0,1,[SkillRule: Apply Exponent; {Expand Exponents;...,61
13,4170,2oNLCndtam,"Unit QUAD-VERTICAL-MOTION, Section QUAD-VERTIC...",NEWQUAD11TRE,1,R4C1,2006-03-08 12:18:56.0,2006-03-08 12:19:04.0,2006-03-08 12:19:04.0,2006-03-08 12:19:04.0,8.0,8,NaN,1,0,0,1,Entering a given~~Entering a given linear value,281~~45
14,4457,2oNLCndtam,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01,3,constant factors1R1,2006-03-24 12:30:01.0,2006-03-24 12:30:02.0,2006-03-24 12:30:02.0,2006-03-24 12:30:02.0,1.0,1,NaN,1,0,0,1,NaN,NaN
15,4848,2oNLCndtam,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS02,3,row1-N-x,2006-04-19 12:31:20.0,2006-04-19 12:31:25.0,2006-04-19 12:31:25.0,2006-04-19 12:31:25.0,5.0,5,NaN,1,0,0,1,NaN,NaN
16,5092,2oNLCndtam,"Unit CTA1_20, Section CTA1_20-2",2PTFB20,1,1.75X = 219.21,2006-05-03 12:40:10.0,2006-05-03 12:40:14.0,2006-05-03 12:40:14.0,2006-05-03 12:40:14.0,4.0,4,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,127~~244
17,5408,2oNLCndtam,"Unit CTA1_21, Section CTA1_21-3",JAN07,1,R1C2,2006-05-17 12:47:50.0,2006-05-17 12:47:57.0,2006-05-17 12:47:57.0,2006-05-17 12:47:57.0,7.0,7,NaN,1,0,0,1,NaN,NaN
18,5670,2oNLCndtam,"Unit CTA1_22, Section CTA1_22-1",SYS08,1,R3C1,2006-06-05 12:51:33.0,2006-06-05 12:51:35.0,2006-06-05 12:51:35.0,2006-06-05 12:51:35.0,2.0,2,NaN,1,0,0,1,Define Variable,122
19,5827,46z59pQP58,"Unit CTA1_01, Section CTA1_01-3",BH1T34A,1,R1C1,2005-09-16 12:31:38.0,2005-09-16 12:31:46.0,2005-09-16 12:31:46.0,2005-09-16 12:31:46.0,8.0,8,NaN,1,0,0,1,NaN,NaN
20,6061,46z59pQP58,"Unit CTA1_02, Section CTA1_02-2",BH1T21A,2,YUnit,2005-09-29 12:51:30.0,2005-09-29 12:51:51.0,2005-09-29 12:52:05.0,2005-09-29 12:52:05.0,35.0,NaN,35,0,2,0,1,NaN,NaN
21,6400,46z59pQP58,"Unit ES_01, Section ES_01-9",EG25,1,y/9 = 7,2005-10-14 12:32:33.0,2005-10-14 12:32:46.0,2005-10-14 12:32:46.0,2005-10-14 12:32:46.0,13.0,13,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,12~~19
22,6662,46z59pQP58,"Unit CTA1_04, Section CTA1_04-4",L5FB04B,1,R5C1,2005-10-26 12:39:04.0,2005-10-26 12:39:27.0,2005-10-26 12:39:27.0,2005-10-26 12:39:27.0,23.0,23,NaN,1,0,0,1,Entering a given,165
23,6870,46z59pQP58,"Unit ES_02, Section ES_02-6",EG40,2,6/7 = 7x/7,2005-11-02 12:29:39.0,2005-11-02 12:29:48.0,2005-11-02 12:29:52.0,2005-11-02 12:30:06.0,27.0,NaN,27,0,1,0,2,[SkillRule: Multiply/Divide; [Typein Skill: {R...,8
24,7112,46z59pQP58,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R7C2,2005-11-09 12:30:30.0,2005-11-09 12:30:34.0,2005-11-09 12:30:34.0,2005-11-09 12:30:34.0,4.0,4,NaN,1,0,0,1,Entering a given,205
25,7618,46z59pQP58,"Unit CTA1_06, Section CTA1_06-5",FBSMR1,1,15X = 3.75,2005-11-29 12:33:53.0,2005-11-29 12:34:04.0,2005-11-29 12:34:04.0,2005-11-29 12:34:04.0,11.0,11,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,94~~139
26,7971,46z59pQP58,"Unit ES_03, Section ES_03-8",LIT10A,1,constant terms1R1,2005-12-14 12:48:53.0,2005-12-14 12:48:55.0,2005-12-14 12:49:05.0,2005-12-14 12:49:05.0,7.0,NaN,7,0,2,0,1,NaN,NaN
27,8220,46z59pQP58,"Unit CTA1_08, Section CTA1_08-3",DEC04,2,YLabel,2006-01-11 12:18:12.0,2006-01-11 12:18:44.0,2006-01-11 12:18:44.0,2006-01-11 12:18:44.0,32.0,32,NaN,1,0,0,1,Labelling the axes,97
28,8595,46z59pQP58,"Unit ES_04, Section ES_04-13",LIT33,1,17/w*w = b*w,2006-02-01 12:35:40.0,2006-02-01 12:35:46.0,2006-02-01 12:35:46.0,2006-02-01 12:35:46.0,6.0,6,NaN,1,0,0,1,NaN,NaN
29,9098,46z59pQP58,"Unit CTA1_10, Section CTA1_10-3",DISTFB06_SP,1,0.3(X-100000) = 1000000,2006-03-22 12:57:07.0,2006-03-22 12:57:16.0,2006-03-22 12:57:16.0,2006-03-22 12:57:16.0,9.0,9,NaN,1,0,0,1,[SkillRule: Eliminate Parens; {CLT nested; CLT...,111
30,9887,46z59pQP58,"Unit ES_07, Section ES_07-6",LIT78A,6,di-expr,2006-06-01 12:24:43.0,2006-06-01 12:24:46.0,2006-06-01 12:24:46.0,2006-06-01 12:26:00.0,6.0,6,NaN,1,0,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,1077367,EWo6L00OAS,"Unit CTA1_08, Section CTA1_08-3",NOV13,1,R3C1,2006-03-03 10:23:37.0,2006-03-03 10:23:40.0,2006-03-03 10:23:40.0,2006-03-03 10:23:40.0,3.0,3,NaN,1,0,0,1,Define Variable,15
3939,1077531,EWo6L00OAS,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS02,2,FinalAnswer,2006-03-22 10:31:20.0,2006-03-22 10:31:39.0,2006-03-22 10:31:39.0,2006-03-22 10:31:39.0,19.0,19,NaN,1,0,0,1,perform-mult-sp,27
3940,1077804,EWo6L00OAS,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS01,1,(4(x^4)(y^2))/(4(x^4)(y^2)),2006-05-10 09:56:58.0,2006-05-10 09:57:03.0,2006-05-10 09:57:03.0,2006-05-10 09:57:03.0,5.0,5,NaN,1,0,0,1,NaN,NaN
3941,1077905,gv1l9iqcam,"Unit CTA1_02, Section CTA1_02-4",REAL28,1,XLabel,2006-03-03 09:29:01.0,2006-03-03 09:29:07.0,2006-03-03 09:29:07.0,2006-03-03 09:29:07.0,6.0,6,NaN,1,0,0,1,Labelling the axes,10
3942,1077956,gv1l9iqcam,"Unit ES_01, Section ES_01-4",EG7,1,x = 13*8,2006-03-03 09:37:28.0,2006-03-03 09:37:38.0,2006-03-03 09:37:38.0,2006-03-03 09:37:38.0,10.0,10,NaN,1,0,0,1,[SkillRule: Select Multiply; {MT; MT no fracti...,4
3943,1078100,gv1l9iqcam,"Unit CTA1_08, Section CTA1_08-2",REAL31,1,Formula 1 Coeff 0,2006-03-22 10:11:00.0,2006-03-22 10:11:06.0,2006-03-22 10:11:06.0,2006-03-22 10:11:06.0,6.0,6,NaN,1,0,0,1,Setting the y-intercept,9
3944,1078259,gv1l9iqcam,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS03,1,constant factorsR2,2006-03-24 10:11:06.0,2006-03-24 10:11:09.0,2006-03-24 10:11:09.0,2006-03-24 10:11:09.0,3.0,3,NaN,1,0,0,1,perform-mult-row2-sp,12
3945,1078340,gv1l9iqcam,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS02,3,(4(x^2)(y^4))/y^6,2006-03-24 10:41:16.0,2006-03-24 10:41:19.0,2006-03-24 10:41:19.0,2006-03-24 10:41:19.0,3.0,3,NaN,1,0,0,1,NaN,NaN
3946,1078373,HujcxU5LVb,"Unit CTA1_08, Section CTA1_08-3",BH1T07,1,Intercept Field 1,2006-03-01 10:29:27.0,2006-03-01 10:29:41.0,2006-03-01 10:30:09.0,2006-03-01 10:30:09.0,42.0,NaN,42,0,3,3,1,Entering the y-intercept,2
3947,1078406,HujcxU5LVb,"Unit ES_04, Section ES_04-1",EG40,4,-5/3 = y+8/3,2006-03-01 10:39:19.0,2006-03-01 10:39:29.0,2006-03-01 10:39:29.0,2006-03-01 10:39:29.0,10.0,10,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",5
3948,1078449,HujcxU5LVb,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS03,1,(5(x^6)(y^4))(y^4),2006-03-01 10:49:44.0,2006-03-01 10:49:49.0,2006-03-01 10:49:49.0,2006-03-01 10:49:49.0,5.0,5,NaN,1,0,0,1,NaN,NaN
3949,1078772,HujcxU5LVb,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS03,3,FinalAnswer,2006-03-22 09:58:48.0,2006-03-22 09:59:08.0,2006-03-22 09:59:08.0,2006-03-22 09:59:08.0,20.0,20,NaN,1,0,0,1,simplify-fractions-sp,31
3950,1078787,HujcxU5LVb,"Unit CTA1_20, Section CTA1_20-1",2PTS03,1,R1C1,2006-03-22 10:05:11.0,2006-03-22 10:06:34.0,NaN,2006-03-22 10:06:34.0,83.0,NaN,83,0,1,0,0,NaN,NaN
3951,1078797,HujcxU5LVb,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,2006-04-26 10:35:56.0,2006-04-26 10:36:15.0,2006-04-26 10:36:15.0,2006-04-26 10:36:15.0,19.0,19,NaN,1,0,0,1,Entering a given,3
3952,1078861,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R7C1,2006-04-12 10:21:07.0,2006-04-12 10:21:16.0,2006-04-12 10:22:17.0,2006-04-12 10:22:17.0,70.0,NaN,70,0,3,4,1,"Entering a given~~Convert unit, standard",23~~2
3953,1078981,N18G8VLF9v,"Unit CTA1_02, Section CTA1_02-4",L2FB14,1,YLabel,2006-03-01 10:11:25.0,2006-03-01 10:11:36.0,2006-03-01 10:11:36.0,2006-03-01 10:11:36.0,11.0,11,NaN,1,0,0,1,Labelling the axes,8
3954,1079009,N18G8VLF9v,"Unit ES_01, Section ES_01-2",EG4,1,FinalAnswer,2006-03-01 10:21:21.0,2006-03-01 10:21:31.0,2006-03-01 10:21:31.0,2006-03-01 10:21:39.0,11.0,11,NaN,1,0,0,2,perform-mult-sp~~combine-like-terms-whole-sp,2~~2
3955,1079224,N18G8VLF9v,"Unit CTA1_08, Section CTA1_08-3",PERCENT12,1,R3C2,2006-03-03 10:19:13.0,2006-03-03 10:19:23.0,2006-03-03 10:19:52.0,2006-03-03 10:19:52.0,39.0,NaN,39,0,1,5,1,"Using small numbers~~Write expression, positiv...",14~~11~~8
3956,1079365,N18G8VLF9v,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS02,2,(4(x^3)(y^4))(2y^5),2006-03-22 10:36:34.0,2006-03-22 10:36:38.0,2006-03-22 10:36:38.0,2006-03-22 10:36:38.0,4.0,4,NaN,1,0,0,1,NaN,NaN
3957,1079404,N18G8VLF9v,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,3,(5x^6)/(5x^5),2006-03-24 09:55:00.0,2006-03-24 09:56:13.0,2006-03-24 09:56:13.0,2006-03-24 09:56:13.0,73.0,73,NaN,1,0,0,1,NaN,NaN
3958,1079446,nA15DeLBE1,"Unit CTA1_01, Section CTA1_01-4",JAN13C,1,R3C2,2006-03-01 09:52:11.0,2006-03-01 09:52:25.0,2006-03-01 09:52:25.0,2006-03-01 09:52:25.0,14.0,14,NaN,1,0,0,1,"Using simple numbers~~Write expression, positi...",7~~2~~7
3959,1079562,nA15DeLBE1,"Unit CTA1_02, Section CTA1_02-3",L3NOV12A,1,R2C2,2006-05-03 10:47:25.0,2006-05-03 10:47:29.0,2006-05-03 10:47:29.0,2006-05-03 10:47:29.0,4.0,4,NaN,1,0,0,1,Identifying units,12
3960,1079734,pVG9cgOpCR,"Unit CTA1_08, Section CTA1_08-3",L5FB02,1,R2C2,2006-05-10 10:42:19.0,2006-05-10 10:42:23.0,2006-05-10 10:42:23.0,2006-05-10 10:42:23.0,4.0,4,NaN,1,0,0,1,Identifying units,15
3961,1079778,pVG9cgOpCR,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,3(x+2)/3 = 15/3,2006-05-12 10:24:23.0,2006-05-12 10:24:35.0,2006-05-12 10:24:35.0,2006-05-12 10:25:13.0,50.0,50,NaN,1,1,0,2,[SkillRule: Calculate Eliminate Parens; [Typei...,1
3962,1079814,pVG9cgOpCR,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01,2,(4(x^4)(y^3))(4(x^3)(y^6)),2006-05-12 10:39:49.0,2006-05-12 10:39:54.0,2006-05-12 10:39:54.0,2006-05-12 10:39:54.0,5.0,5,NaN,1,0,0,1,NaN,NaN
3963,1079843,pVG9cgOpCR,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,2,FinalAnswer,2006-05-12 10:51:42.0,2006-05-12 10:51:48.0,2006-05-12 10:52:11.0,2006-05-12 10:52:11.0,29.0,NaN,29,0,2,0,1,simplify-fractions-sp,13
3964,1080247,w0FMzJORlK,"Unit QuadLinearFuncTrans, Section QLFuncTrans8",TRANSFORMG052,1,ALGEBRAIC-TRANSFORMATIONS-a,2006-03-03 10:09:32.0,2006-03-03 10:09:35.0,2006-03-03 10:09:35.0,2006-03-03 10:09:35.0,1.0,1,NaN,1,0,0,1,Edit Algebraic a,19
3965,1080531,1iPV6aca5w,"Unit ES_01, Section ES_01-9",EG24,1,-8x = 1,2006-03-09 10:18:50.0,2006-03-09 10:19:16.0,2006-03-09 10:19:16.0,2006-03-09 10:19:16.0,26.0,26,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",8~~4
3966,1080590,66l1WHbu0M,"Unit ES_02, Section ES_02-5",EG40,6,3x = 5,2006-03-07 10:36:01.0,2006-03-07 10:36:09.0,2006-03-07 10:36:30.0,2006-03-07 10:37:11.0,52.0,NaN,52,0,2,6,2,[SkillRule: Remove positive coefficient; {ax/b...,3~~8
3967,1080617,IQQo3367x0,"Unit ES_02, Section ES_02-5",EG40,5,-2+5x+2 = 8+2,2006-03-09 10:59:18.0,2006-03-09 10:59:25.0,2006-03-09 10:59:25.0,2006-03-09 10:59:25.0,7.0,7,NaN,1,0,0,1,[SkillRule: Consolidate vars with coeff; CLT],7

In [14]:
remove_student=set()
a=[]

for s in student_set:
    df_temp=df2[df2["Anon Student Id"]==s]
    n=len(set(df_temp["Problem Name"]))
    a.append(n)
    if(n<20):
        remove_student.add(s)
        
student_set.difference_update(remove_student)
df2=df2[df2["Anon Student Id"].isin(student_set)]
question_set=set(df2["Problem Name"])
priors={}
for q in question_set:
    priors[q]=[]

In [15]:
for s in student_set:
    #print(s)
    df_temp1=df2[df2["Anon Student Id"]==s]
    ranking=[]
    qq=set(df_temp1["Problem Name"])
    for q in qq:
        df_temp2=df_temp1[df_temp1["Problem Name"]==q]
        n=len(df_temp2)
        #First rank based on scores
        score=df_temp2["Correct First Attempt"].sum()/n
        priors[q].append(score)
        #Then tie breaks on incorrect attempts
        attempts=df_temp2["Incorrects"].sum()/n
        #Then tie breaks on time taken
        timetaken=df_temp2["Step Duration (sec)"].sum()/n
        ranking.append((q,score,attempts,timetaken))
    a=sorted(ranking, key=lambda x:(x[1],-x[2],-x[3]))
    difficulty_rankings[s]=[x[0] for x in a]

In [16]:
priors['SYS06']
#np.mean(priors['SYS06'])

[1.0, 1.0, 1.0]

In [17]:
#Check whether one question is more difficult than the other
def rank(q1,q2,ranking):
    if(q1 not in ranking or q2 not in ranking):
        return False
    #return true if q1 is more difficult than q2
    return ranking.index(q1)<ranking.index(q2)

#win score over question pairs q1,q2 given a ranking 
def gamma(q1,q2,ranking):
    if(q1 not in ranking or q2 not in ranking):
        return 0
    return 1 if rank(q1,q2,ranking) else -1

#all question pairs in L such that qj>qk
def Zk(L,ranking,k):
    answer=[]
    for q in L:
        if(rank(q,k,ranking)):
            answer.append((q,k))
    return answer

#Indicator function
def IA(ranking1,ranking2,q1,q2):
    return 1 if (rank(q1,q2,ranking1) and rank(q1,q2,ranking2)) else 0

#normalized agreement score between two rankings
def Ak(L,ranking1,ranking2,k):
    Z=Zk(L,ranking2,k)
    if(len(Z)==0):
        return 0
    answer=0
    for (q1,q2) in Z:
        answer+=IA(ranking1,ranking2,q1,q2)
    #return answer/(ranking2.index(k))
    return answer/len(Z)

#AP score of ranking2 over L given reference ranking ranking1
def SAP(L,ranking1,ranking2):
    answer=0
    n=len(L)
    for i in range(1,n):
        answer+=Ak(L,ranking1,ranking2,L[i])
    return answer/(n-1)

#relative voting of two questions
def rv(q1,q2,S,si,Ti,ranking_i):
    prior1=np.mean(priors[q1])
    prior2=np.mean(priors[q2])
    s12=[s for s in S if q1 in difficulty_rankings[s] and q2 in difficulty_rankings[s]]
    alpha=len(s12)/len(S)
    a=0
    for j in S:
        if(j!=si):
            a+=np.sign(alpha*SAP(Ti,ranking_i,difficulty_rankings[j])*gamma(q1,q2,difficulty_rankings[j]))+(1-alpha)*np.sign(prior1-prior2)
    return np.sign(a)

#Copeland score
def c(q,S,si,Li,Ti,ranking_i):
    answer=0
    for ql in Li:
        if (ql!=q):
            answer+=rv(q,ql,S,si,Ti,ranking_i)
    return answer

In [26]:
#EduRank Algorithm
def EduRank(si,Ti,Li,ranking_i):
    #questions to be ranked
    dict=[]
    for q in Li:
        dict.append((q,c(q,student_set,si,Li,Ti,ranking_i)))
        #print(len(dict))
    dict=sorted(dict, key=lambda x:-x[1])
    return [x[0] for x in dict]

#split questions into train and test sets
def split_questions(si):
    df3=df2[df2["Anon Student Id"]==si]
    qq=list(set(df3["Problem Name"]))
    n=int(len(qq)/2)
    return qq[0:n],qq[n:len(qq)],df3

#infer the difficulty ranking for a student, in decreasing order of difficulty
def rank_questions(df,train,test):
    #print(count)
    n=df.shape[0]
    ranking_train,ranking_test=[],[]
    for q in train:       
        #First rank based on scores
        score=df["Correct First Attempt"].sum()/n
        #Then tie breaks on incorrect attempts
        attempts=df["Incorrects"].sum()/n
        #Then tie breaks on time taken
        timetaken=df["Step Duration (sec)"].sum()/n
        ranking_train.append((q,score,attempts,timetaken))
    for q in test:       
        score=df["Correct First Attempt"].sum()/n
        attempts=df["Incorrects"].sum()/n
        timetaken=df["Step Duration (sec)"].sum()/n
        ranking_test.append((q,score,attempts,timetaken))
    a=sorted(ranking_train, key=lambda x:(x[1],-x[2],-x[3]))
    b=sorted(ranking_test, key=lambda x:(x[1],-x[2],-x[3]))
    return [x[0] for x in a],[x[0] for x in b]

averageAP=0

for s in student_set:
    train,test,df3=split_questions(s)
    ranking_train,ranking_test=rank_questions(df3,train,test)
    proposed_ranking=EduRank(s,train,test,ranking_train)
    averageAP+=SAP(test,ranking_test,proposed_ranking)
#     print(averageAP)
print(averageAP/len(student_set))

0.6845847861558396

In [25]:
start=time.time()
for i in range (1,100000000):
    a=0
end=time.time()
print(end-start)

14.939369678497314